.background-img {
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.testimonial-bg {
    width: 96%;
    margin: 0 auto;
    background: url('images/testimonial_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.btn:hover {
    background-color: black;
}





.heading {
    margin-top: 15vh;
}

.flex {
    padding: 20vh 10vh 10vh;
}



.what-we-do,
.meet-our-team,
.our-creation {
    display: flex;
    justify-content: space-between;
}

span {
    color: blue;
}